---
import NavLink from "./NavLink.astro";
const { date } = Astro.props;
const formatDate = new Date(date); 
const options = {
  month: "2-digit",
  day: "2-digit",
};
let formattedDate = formatDate.toLocaleDateString("UTC", options); 
console.log(formattedDate)
const dateEndpoint = `/date/${formattedDate}`; 
---

<header>
  <h1>
    <a href="/" class="site">Jimmy Smith</a>
  </h1>

  <nav>
    <NavLink href="/dates">Dates</NavLink>
    <span> / </span>
    <NavLink href={dateEndpoint}>{date} </NavLink> 
  </nav>
</header>

<style>
  header {
    @apply my-4
  }
	.site {
		@apply text-xl text-black
	}
  nav {
    @apply flex gap-4;
  }
</style>
