---
const { title, date } = Astro.props;
---

<article>
  <time class="date">{date}</time>
  <h2 class="title">{title}</h2>
  <hr />
  <section class="prose-lg lg:prose-xl">
    <slot />
  </section>
</article>
