---
import Social from "../components/layout/Social.astro";
import Nav from "../components/layout/Nav.astro";

const {
	content: { title, date },
} = Astro.props;
---

<html lang="en">
  <head>
    <Social title={title} description={date} /> 
  </head>
  <body class="body">
    <div class="body-container">
      <Nav date={date} />
      <main class="main"> 
        <article class="prose-lg lg:prose-xl">
          <h2>{title}</h2>
          <section>
            <slot />
          </section>
        </article>
      </main>
    </div>
  </body>
</html>